
.bg-ligth-success{
  background-color: rgb(127, 236, 127);
}
tr:hover>td{
  cursor:pointer;
  background-color: #4c4c4c;
}
.icon{
  width: 25px;
  height: 25px;
}
.navegador{
  position: sticky;
  top: 0;
}
.bordeNegro{
  border: white;
  background-color: white;
}
.bordeBlanco{
  border-color: white;
}

td{
  padding: 4px 10px 4px 10px;
}
.titulo{
  padding-left: 80px;
}
th{
  padding: 4px 10px 4px 10px;
  font-size: larger;
}
table{
  /*width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  overflow-x: scroll hidden;*/
  display: block;
  margin-left:10%;
  margin-right:5%;
  width: 80%;
  overflow-x: auto;
}
