
.bg-ligth-success{
  background-color: rgb(127, 236, 127);
}
tr:hover>td{
  cursor:pointer;
  background-color: gray;
}
.icon{
  width: 25px;
  height: 25px;
}
.navegador{
  position: sticky;
  top: 0;
}
.bordeNegro{
  border: white;
  background-color: white;
}
.bordeBlanco{
  border-color: white;
}
.contentTable{
  margin: auto ;
}
td{
  padding: 2px 10px 2px 10px;
}
.titulo{
  padding-left: 80px;
}
th{
  padding: 2px 10px 2px 10px;
}